$background: #ffffff;
$color-primary: #9aa0a6;
$color-secondary: #dfe1e5;
$font-color: #5f6368;

// FONT
$default-font-size-phone: 12px;
$default-font-size-port: 14px;
$default-font-size-land: 15px;
$default-font-size-desktop: 16px;

$small-font-size-phone: 10px;
$small-font-size-port: 12px;
$small-font-size-land: 13px;
$small-font-size-desktop: 14px;

$big-font-size-phone: 16px;
$big-font-size-port: 18px;
$big-font-size-land: 19px;
$big-font-size-desktop: 20px;
